/********Common********/
body{background: #FFEB89; font-family: Arial,Helvetica,sans-serif; font-weight: bold;}


/*******************************/
div.form-piece{display: block;}
#addStudent label{color:#706752;}
