/********Common********/
body{background: #FFEB89; font-family: Arial,Helvetica,sans-serif;}
div.form-piece{display: block;}

/***********************************************/
div.list ul li{list-style-type: none;}
div.list ul li span.title{font-weight: bold;}

div.view-students a{display: block;}
a.edit-button{text-decoration: none; border: solid 1px #333; padding:5px; color:#333; background: #fff; float:left;}
a.delete-button{text-decoration: none; border: solid 1px #333; padding:5px; color:#333; background: #fff; float:right;}
span.y{color:green;}
span.n{color:red;}

/**********************Student******************/
div.wrapper{width:400px;}


/*****************************Staff*********************/



/*****************************Detentions*********************/
table, th, td{border: 1px solid #333; border-collapse: collapse; width: 600px;}